#nav-bar {
  margin: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  background: #00a087;
  color: #e8fdff;
  z-index: 1030;
}

#nav-bar .logo {
  height: 80px;
  width: 80x;
  padding-left: 2em;
  float: left;
}

#nav-bar .header {
  color: #e8fdff;
  padding-left: 10px;
  font-size: 2em;
  line-height: 2.5;
}

#nav-bar .compose-button {
  float: right;
  margin-right: 2em;
  margin-top: 1.5em;
}

/*
display
position
padding
margin
background
*/