.tweet-container {
  width: 380px;
  height: 200px;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px 10px 10px 10px;
  padding-top: 0px;
  margin-bottom: 5px;
  opacity: 0.6;
  transition: 0.3s;
  border: 1px solid grey;

}

.tweet-container:hover {
  opacity: 1;
}

.tweet-container-header {
  width: 100%;
  height: 50px;
  background-color: #eee;
  border-radius: 10px 10px 0px 0px;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 5px;
  float: left;
}

.fullName {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  float: left;
}

.username {
  float: right;
  padding-right: 1em;
  padding-top: 14px;
}

.tweet-submitted {
  width: 100%;
  height: 110px;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.days-submitted {
  height: 25px;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 10px 10px;
}